# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache 

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Bastardkb files

adapter/gerbers
adapter/gerbers/*
gerber
gerber/*
flex/flex-backups
flex/flex-backups/*

# Project specific files
adapter/adapter-backups
adapter/#auto_saved_files#
adapter/_autosave-adapter.kicad_sch
